<header class="bg-white shadow-sm">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
        <div class="flex items-center space-x-2 ">

            <div class="text-emerald-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                </svg>
            </div>
            <span class="font-bold text-xl">Biblio App</span>
        </div>
        <nav class="hidden md:flex space-x-6">
            <a href="/books" style="color: oklch(69.6% 0.17 162.48); 
                            transition: color 0.3s ease;
                            font-size: 1.25rem;" "
                            >
                            Listado de libros
            </a>
            <a href=" /" style="color: oklch(69.6% 0.17 162.48); 
                            transition: color 0.3s ease;
                            font-size: 1.25rem;" "
                            >
                            Inicio
            </a>
            
        </nav>
    </div>
</header>